$font-family-sans-serif:      "din-2014", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base-px:           16px !default;

// Colors System
$color-sys-background-fill-dark: #242425 !default;
$color-sys-background-fill-light: #FFFFFF !default;

$color-sys-gray-1-dark: #303030 !default;
$color-sys-gray-1-light: #FAFBFC !default;

$color-sys-gray-2-dark: #474646 !default;
$color-sys-gray-2-light: #F3F5F9 !default;

$color-sys-gray-3-dark: #5F5F5F !default;
$color-sys-gray-3-light: #D8D8D8 !default;

$color-sys-gray-4-dark: #979797 !default;
$color-sys-gray-4-light: #A5A5A5 !default;

$color-sys-contrast-dark: #FCFBFB !default;
$color-sys-contrast-light: #343434 !default;

// Colors +CLIN
$color-clin-one-four: #204497 !default;
$color-clin-two-three: #4379F4 !default;
$color-clin-three-two: #7CA4FF !default;
$color-clin-four-one: #B7CAF4 !default;

$color-clin-five-dark: #2C364F !default;
$color-clin-five-light: #EBF0FB !default;

$color-clin-degrade-one-dark: linear-gradient(180deg, #586684 0%, #213259 100%) !default;
$color-clin-degrade-one-light: #FCFCFE !default;

$color-clin-degrade-two-dark: linear-gradient(347.92deg, #DBE3F8 8.45%, #F7F9FF 93.07%) !default;
$color-clin-degrade-two-light: #FCFCFE !default;

// Colors +PSI
$color-psi-one-four: #01826C !default;
$color-psi-two-three: #00A589 !default;
$color-psi-three-two: #3DBFAA !default;
$color-psi-four-one: #85D8CC !default;

$color-psi-five-dark: #264541 !default;
$color-psi-five-light: #E8FAF8 !default;

$color-psi-degrade-one-dark: linear-gradient(347.92deg, #17433D 8.45%, #508079 93.07%) !default;
$color-psi-degrade-one-light: linear-gradient(180deg, rgba(0, 244, 202, 0.3) 0%, rgba(0, 244, 202, 0) 100%) !default;

$color-psi-degrade-two-dark: linear-gradient(347.92deg, #E0FFFB 8.45%, #F5FFFE 93.07%) !default;
$color-psi-degrade-two-light: linear-gradient(180deg, rgba(0, 244, 202, 0.3) 0%, rgba(0, 244, 202, 0) 100%) !default;
